.logodefault-child,
.logosaas-icon1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.logodefault-child {
  height: 80.49%;
  top: 14.63%;
  bottom: 4.88%;
  background: linear-gradient(
    89.43deg,
    #f87bff,
    #fb92cf 24.06%,
    #ffdd9b 48.2%,
    #c2f0b1 72.84%,
    #2fd8fe
  );
  filter: blur(11px);
}
.logosaas-icon1 {
  height: 97.56%;
  top: 0;
  bottom: 2.44%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.logodefault1 {
  width: 40px;
  height: 41px;
  position: relative;
}
.effortlessly-turn-your {
  align-self: stretch;
  position: relative;
}
.ellipse-shape {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.socials-icon,
.socials-icon1,
.socials-icon2,
.socials-icon3,
.socials-icon4,
.socials-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.ellipse-shape-parent,
.logo-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-group {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.ellipse-shape-parent {
  width: 240px;
  flex-direction: column;
  gap: 111px 0;
}
.product2 {
  color: var(--neutral-100);
}
.faq,
.features1,
.integrations4,
.pricing,
.product2,
.updates1 {
  position: relative;
}
.product1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
  height:100px;
}
.company1 {
  color: var(--neutral-100);
}
.about1,
.blog,
.careers,
.company1,
.contact,
.manifesto,
.press {
  position: relative;
}
.company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.resources2 {
  color: var(--neutral-100);
}
.community,
.docs,
.examples,
.guides,
.resources2 {
  position: relative;
}
.resources1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.legal {
  color: var(--neutral-100);
}
.legal,
.privacy,
.security2,
.terms {
  position: relative;
}
.security1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
}
.footer,
.footer-l2,
.product-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.product-parent {
  justify-content: flex-start;
  gap: 0 48px;
  max-width: 100%;
  color: var(--color-gray-100);
}
.footer,
.footer-l2 {
  box-sizing: border-box;
}
.footer-l2 {
  width: 100%;
  background-color: var(--color-black);
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-xl);
  max-width: 101%;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.footer {
  align-self: stretch;
  background-color: var(--neutral-100);
  overflow: hidden;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 2;
  text-align: left;
  font-size: var(--body-s-size);
  color: var(--color-silver);
  font-family: var(--body-s);
}
@media screen and (max-width: 750px) {
  .footer-l2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .product-parent {
    flex-wrap: wrap;
    gap: 0 24px;
  }
}
